
/* Flex Responsive */
*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;  
    flex-wrap: wrap;
    font-size: 30px;    
    text-align: center;
}
   
.flex-item-left{
    background: rgb(215, 172, 255);
    padding: 10px;  
    flex: 50%;
}

.flex-item-right{
    background: rgb(255, 190, 211);
    padding: 10px;  
    flex: 50%;
}

@media screen and (max-width:800px) {
    .flex-item-right , .flex-item-left{
        flex: 100%;
    }
}